body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('https://media.istockphoto.com/photos/cement-floor-and-black-wall-backgrounds-empty-room-interior-use-for-picture-id1226232663?b=1&k=6&m=1226232663&s=170667a&w=0&h=6yI5gQBaTS8K75aPJzyfCLI1MFu-__M4BU2zAe5LxPw=');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  font-size: small;
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

.home{
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  left: 42px;
  top: 55px;
}

.home:hover{
  color: rgb(134, 163, 27);
  transition: 0.4s;
}

.about{
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  left: 172px;
  top: 55px;

}
.about:hover{
  color: rgb(134, 163, 27);
  transition: 0.4s;
}

a{
  text-decoration: none;
  color: inherit;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 4px;
  color: #428BCA;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button{
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  color: beige;
  font-size: 25px;
  left: 282px;
  position: absolute;
  top: 52px;
  border: black;
}
body > button {
  background: #428BCA;
  color: #fff;
  font-family: Sans-serif;
  font-size: 20px;
  height: 60px;
  width: 150px;
  line-height: 60px;
  margin: 25px 25px;
  text-align: center;
  border: 0;
  transition: all 0.3s ease 0s;
}

button:hover {
  border-radius: 10px;
}
