body, html{
  height: 100%;
  margin: 0;
  text-align: center;
  padding: 0;
}
* { color:#fff; text-decoration: none;}

.header{
  width: 100%;
  height: 70px;
  background-color: white;

}

.bgimg{
  background-image:url(https://data.1freewallpapers.com/download/3d-purple-with-dark-background-4k-abstract.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: seashell;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft{
  position: absolute;
  top: 16px;
  left: 16px;
}

.bottomleft{
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr{
  margin: auto;
  width: 40%;
}
h4{
  font-size: small;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
h2{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font-family: 'Alfa Slab One', cursive;
  color: #39ca74;
}
span{
  color:white;
}
ul{
  width: auto;
  float: right;
  margin-top: 8px;

}

li{
  display: inline-block;
  padding: 15px 30px;
}

a{
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
}
a:hover{
  color: goldenrod;
  transition: 0.5s;

}
.bottomrightr{ 
  position: absolute;
  bottom: 40px;
  right: 0px;
  font-size: 18px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content b {
  color: black;
  text-decoration: none;
  margin-right: 5%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
b{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: black;
}

hr {
  margin: auto;
  width: 40%;
}

.home{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  left: 42px;
  top: 100px;
  color: wheat;
}

.home:hover{
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

.about{
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  right: 102px;
  top: 100px;
  color: black; 

}
.about:hover{
  color: white;
  transition: 0.4s;
}

a{
  text-decoration: none;
  color: inherit;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 4px;
  color: #428BCA;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button{
  right: 22px;
  position: absolute;
  top: 65px;
  background-color: black;
  color: #fff;
  font-family: Sans-serif;
  font-size: 20px;
  height: 50px;
  width: 100px;
  margin: 25px 25px;
  text-align: center;
  border: 0;
  transition: all 0.3s ease 0s;

}
button:hover {
  background-color: white;
  color: black; 
}

.logo{
  float: right;
  position: absolute;
  right: 600px;
  top: 15px;
}